* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.siteHeader {
  display: flex;
  justify-content: space-between;
}

.centerContainer {
  width: 100%;
  text-align: center;
}

.logout {
  align-self: center;
}

.notesTab,
.pettyCash,
.tasksSection {
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.task:hover * {
  cursor: pointer; /* Change the cursor to a hand */
}

.task label {
  flex: 1; /* Let the label grow and shrink as needed */
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 0.5rem;
}

.task input {
  height: 30px;
  width: 30px;
}

.storageUnits {
  display: flex;
  text-align: center;
}

.todoList,
.otherNotes {
  text-align: center;
}

.storageUnits input,
.todoList input,
.otherNotes input {
  width: 100%;
  text-align: center;
}

.todoList input,
.otherNotes input {
  text-align: left;
  padding-left: 1rem;
}

.storageUnits {
  border: 2px black solid;
  margin: 1rem 0;
}

.todoList {
  margin-bottom: 1rem;
}

.notesTab label {
  font-weight: bold;
}

.pettyCashTitle {
  text-align: center;
}

.pettyCash {
  display: flex;
  flex-direction: column;
}

.cashInputs {
  display: flex;
}

.cashInputs:hover * {
  cursor: pointer;
}

.cashInputs label {
  max-width: 8.5rem; /* Set an initial max width */
  flex-grow: 1; /* Allow labels to grow */
}

.cashInputs input {
  flex: 1;
  min-width: 0; /* Reset minimum width */
}

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1da1f2;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #239bdd;
  color: white;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.5);
}

.btn:active {
  background-color: #2c89c9;
}

.submitBtn {
  background-color: #24da00;
  display: block;
  margin: 0 auto;
}

.submitBtn:hover {
  background-color: #1fb401;
  color: white;
}

.submitBtn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(60, 255, 0, 0.5);
}

.submitBtn:active {
  background-color: #126b00;
}

.tabBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* This will ensure buttons are evenly spaced */
}

.tabBtns button {
  flex-basis: 0; /* This will allow the buttons to grow and shrink as needed */
  flex-grow: 1; /* This will allow the buttons to take up available space equally */
  margin: 0.5em; /* This will give some space around each button */
}

.active,
.active:hover {
  background-color: #4caf50; /* A green color */
  color: white; /* White text */
}

.facility {
  border: 1px black solid;
  margin: 1rem;
}

@media screen and (max-width: 325px) {
  .tabBtns button {
    width: 100%; /* This will make the button take full width on smaller screens */
    flex-basis: 100%; /* This will allow the buttons to grow and shrink as needed */
  }
}
